@import '../../styles/colors.scss';

.ErrorWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    .Spinner {
        margin-top: 30px;
    }

    .Error {
        margin-top: 30px;
        color: $primaryLight;
    }
}
